<!doctype html>
<html lang="en">

<head>
    <title>GET VIDEO</title>
    <meta charset="utf-8">
</head>

<body>
    <video id="video" style="width: 480px; height: 320px"></video>
    <button id="open">打开</button>
    <button id="close">关闭</button>
    <script type="text/javascript" src="http://cdn.temasys.io/adapterjs/0.15.x/adapter.min.js"></script>
    <script>
    /*
    https://webrtc.org.cn
    WebRTC网页即时通信
    */
        const videoNode = document.getElementById('video');
        let videoStream = null;
        AdapterJS.webRTCReady(function(isUsingPlugin) {
            // WebRTC API 已准备就绪
            //isUsingPlugin: 使用WebRTC插件时为true，否则为false
            getUserMedia({
                audio: false,
                video: true,
            }, (stream) => {
                videoNode.srcObject = stream;
                videoNode.play();
                videoStream = stream;
            }, (error) => {
                console.error('navigator.getUserMedia error: ', error);
            });
        });

        // const videoNode = document.getElementById('video');
        const openBtn = document.getElementById('open');
        const closeBtn = document.getElementById('close');

        const startMedia = () => {
            const constraints = {
                audio: false, // 是否打开语音
                video: true, // 是否打开视频
            };
            let userMedia = null; // media 对象
            if (navigator.mediaDevices.getUserMedia) {
                // 最新标准 API
                userMedia = navigator.mediaDevices.getUserMedia(constraints);
            } else if (navigator.webkitGetUserMedia) {
                // webkit 内核浏览器
                userMedia = navigator.webkitGetUserMedia(constraints);
            } else if (navigator.mozGetUserMedia) {
                // Firefox 浏览器
                userMedia = navigator.mozGetUserMedia(constraints);
            } else if (navigator.getUserMedia) {
                // 旧版 API
                userMedia = navigator.getUserMedia(constraints);
            }
            // 此时 userMedia 是一个 promise 对象
            userMedia.then((stream) => {
                // 成功后返回的业务逻辑
                videoNode.srcObject = stream;
                videoNode.play();
                videoStream = stream;
            }).catch((error) => {
                console.error('navigator.getUserMedia error: ', error);
            });
        };

        // 打开的按钮
        openBtn.onclick = () => {
            startMedia();
        };

        // 关闭的按钮
        closeBtn.onclick = () => {
            // tracks 是一个数组，可能包含 audio、video 对象
            const tracks = videoStream.getTracks();
            console.log('tracks', tracks)
            tracks[0].stop();
        };
    </script>
</body>

</html>
